<?xml version='1.0' encoding='utf-8'?>
<odoo>
    
    <menuitem id="prueba_menu_root" name="RecuSge"/>

        <menuitem id="usuarios_menu_act" name="Usuarios" parent="prueba_menu_root" action="usuarios_action"/>

        <menuitem id="portatiles_menu_act" name="Portatiles" parent="prueba_menu_root" action="portatiles_action"/>

        <menuitem id="transacciones_menu_act" name="Ventas" parent="prueba_menu_root" action="ventas_action"/>

        <menuitem id="transacciones_menu_act" name="Devoluciones" parent="prueba_menu_root" action="devoluciones_action"/>

</odoo>
